@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1564243514844'); /* IE9 */
  src: url('iconfont.eot?t=1564243514844#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKMAAsAAAAABjAAAAJAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAo4VQE2AiQDCAsGAAQgBYRtBzQbfwXIrrApw70IpLUk17nxYP+wim8M4H3Ew39rv/tm59t8xJNqpHsWrTQSHT+dBDFByYTiFfJezeUWeXy3RCEZVSKFENi7v4Qv9zS+RlfIKgMsW6H6qg04McQze4I8e+Dm8l9SjAj5PJfTm0AHMj/QObYHjTVpUi+gXhxIge6BUWSFEnjD2AUv8DGBYtKipr3N/SPolNmrAnEluAOdhagss0JbaDYczOJFm3Z6Sk/Ac/T9+GVFJ0mjYrccXm74sPxRcUpQcxUQYiCg4w1UWAcycdqY3dciGNeiZFvNgmM1Bh+VDzziqE7B/jq7vgeMQ9Uzqb2VAiR4rKkKxib9FKLcnztH5+7d5Yk3+j8tY42vHHnw/n1DWAaoP6rXakYTgse/jtmLgf139mTw7mZH4fojG+YH7dV9wW9QDxzIhtZ2p6ypG0eTsvu2oqAGHBzyO9U2es5iaBud4G+ZyFBpmyczu46Grg00tW2iWLN1vGuY1CJyB6vuAcKARyR93lAZ8Exm9gcNYxpoGogWFOfRhV2LIbovyVHko1tH4aUJc72qO248IF6OHJnXRvwJyUIk0NSMcmGLEpJLbCkq3FKKIZNpjJvgOYqiFDOZBuQpraRUZus6a3qT5qUxdNslEYdCfMhVhwRPKsGC8Up35fMHCFcWcciOvrryBJEKYnZk0hgDyC1TMqjvUV4pVHAWRWEQI6ViaBPMI5FICmXN8wLEo2hKE9IZm+4MY0NN2vaW+O9OQGHbUzi7KuW6HAgnrYmEAwAAAA==') format('woff2'),
  url('iconfont.woff?t=1564243514844') format('woff'),
  url('iconfont.ttf?t=1564243514844') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1564243514844#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wujiaoxing:before {
  content: "\e676";
}

